<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <!-- <% console.log(studentData) %> -->
    <h1>About me</h1>
    <h2>Flow G</h2>
    <!-- <h2><%= studentData[0].name %></h2> -->
    <% for (let i = 0; i < studentData.length; i++) { %>
        <p>
            <%= studentData[i].name %>
            <%= studentData[i].age %>
            <%= studentData[i].course %>
            <%= hellofunc(studentData[i].name) %>
        </p>
    <% } %>
    <% studentData.forEach(function(student) { %>
        <p>
            <%= student.name %>
            <%= student.age %>
            <%= student.course %>
        </p>
    <% }); %>
</body>
</html>